.category {
  width: 100%;
  padding: 2rem 1.5rem; /* Adjust padding for responsiveness */
}

.category h2 {
  color: #323232;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
}

.category .sub-title {
  color: #323232;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-bottom: 4rem;
  opacity: 0.5;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem; /* Adjust gap between product cards */
}

.product-card {
  flex-grow: 1; /* Ensures cards fill available space evenly */
  max-width: 280px;
  width: calc(25% - 20px); /* 4 cards per row by default */
  margin-bottom: 1.25rem;
  text-decoration: none;
}

.product-card .SampleImg {
  width: 100%;
  height: 270px;
  margin-bottom: 1.3125rem;
}

.section-Feedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.section-Feedback p {
  color: #323232;
  font-size: 1.125rem;
  font-weight: 400;
  opacity: 0.5;
}

.section-Feedback img {
  width: 95.79px;
  height: 15px;
}

.product-card h4 {
  color: #323232;
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
}

.Pricing {
  display: flex;
  align-items: center;
}

.Pricing p {
  color: #456ed6;
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 0.625rem;
}

.Pricing del {
  color: #323232;
  font-size: 1.125rem;
  opacity: 0.3;
  padding-right: 0.3125rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  max-width: 300px;
  padding: 1rem 1.5rem;
  border-radius: 40px;
  border: 1px solid #d9d9d9;
  background: var(--blue);
  box-shadow: 0px 4px 28px 0px rgba(70, 70, 70, 0.4);
  text-decoration: none; /* Ensure link styling */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  text-decoration: underline;
}

.btn span {
  color: #fff;
  font-size: 0.972rem;
  font-weight: 600;
}

.btn .ArrowDown {
  width: 1.25rem;
  height: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .product-card {
    width: calc(50% - 20px); /* 2 cards per row on tablets */
  }
}

@media screen and (max-width: 600px) {
  .product-list {
    justify-content: center;
  }
  .product-card {
    width: calc(100% - 20px); /* 1 card per row on mobile */
  }

  .category {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }
}
