.testimonials {
    text-align: center;
    /* padding: 50px 0; */
height: 612.5px;
flex-shrink: 0;
  }
  
  .testimonials h2 {
    color: #484848;

text-align: center;
font-size: 33.542px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .testimonials p {
    color: #8A8A8A;
text-align: center;
font-family: Poppins;
font-size: 11.667px;
font-style: normal;
font-weight: 400;
line-height: 18.958px; /* 162.5% */
  }
  
  .testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .testimonial {
    width: 630px;
height: 291.667px;
flex-shrink: 0;
    border-radius: 7.292px;
    background: var(--White, #FFF);
    box-shadow: 0px 14.583px 43.75px 0px rgba(46, 33, 61, 0.08);
  }
  
  .testimonial-image {
    width: 176.458px;
height: 176.458px;
flex-shrink: 0;
width: 176.458px;
height: 176.458px;
flex-shrink: 0;
  }
  
  .testimonial-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .testimonial-author {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .testimonial-author span {
    font-weight: normal;
    color: #666;
  }
  
  .testimonial-rating {
    color: #ffcc00;
    font-size: 1rem;
  }
  
  .testimonial-controls {
    margin-top: 1rem;
  }
  
  .testimonial-controls button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    margin: 0 0.5rem;
  }
  