header {
  display: flex;
  padding: 18px 32px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--White-smoke-200, #ddd);
  background: var(--White, #fff);
  width: 100%;
}
.logo img {
  width: 86px;
  height: 20px;
  flex-shrink: 0;
}
header nav {
  display: flex;
  gap: 10px;
}
header nav a {
  color: var(--sky-blue, #456ed6);
  font-size: 14px;
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-500);
  line-height: 20px; 
  text-decoration: none;
}




header nav a:hover, header nav a:active {
    text-decoration: underline;
  }