.Delivery-Collections-Testimonials {
  /* display: flex; */
  /* height: 4806px; */
  /* padding: 72px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  flex-shrink: 0;
  align-self: stretch; */
}