/* custom styling */
:root{
    /* colors */
    --White: #fff;
    --Black: #000;
    --White-smoke-200: #ddd;
    --sky-blue: #456ed6;
    --blue: #1f3e97;
    --Dark-Grey---Fashion: #323232;
    /* fonts */
    --font-family-Inter: "Inter", sans-serif;
    --font-family-Ubuntu: var(--font-family-Inter);
   
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-style-normal: normal;

    
}