/* Container for the checkout page */
.checkout-page {
  padding: 48.22px 140px;
}

.checkout-page h2 span:nth-of-type(1) {
  color: #464646;
  font-size: 31.111px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.checkout-page h2 {
  margin-bottom: 38.81px;
}
.checkout-page h2 span:nth-of-type(2) {
  color: #858585;
  font-size: 31.111px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.checkout-page .hori-heading {
  width: 1120px;
  height: 0.972px;
  background: #d9d9d9;
  margin-bottom: 15.55px;
}
/* Form styling */
.checkout-page .shipping-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 38.88px;
}
.checkout-page .shipping-form section {
  flex-grow: 1;
}
.checkout-page .form-group,
.checkout-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.checkout-page .form-group label {
  color: #456ed6;
  font-size: 13.611px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.checkout-page .form-group label span {
  color: #ea1c0f;
  font-size: 13.611px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.checkout-page .select-group {
  display: flex;
  flex-direction: row;
}
.checkout-page .form-group input,
.checkout-page .form-group select {
  border-radius: 7.778px;
  background: #f1f1f1;
  font-size: 16px;
  padding: 15.556px;
  gap: 93.333px;
  border: none;
  outline: none;
}

/* Inline form inputs for city and state */
.checkout-page .checkout-form-input{
  flex: 1;
}

.checkout-form-input + .checkout-form-input {
  margin-left: 20px;
}

/* Order summary styling */
.checkout-page .order-summary {
  border-radius: 7.778px;
  border: 0.972px solid #d9d9d9;
  background: var(--White, #fff);
  padding: 31.11px;
  margin-top: 31.11px;
}

.checkout-page .order-summary h3 {
  margin-bottom: 20px;
  color: var(--Black, #000);
  font-size: 19.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkout-page .order-summary p {
  margin: 10px 0;
  color: #456ed6;
  font-size: 11.667px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.checkout-page .shipping-select {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 15.556px;
  border-radius: 7.778px;
  background: #f1f1f1;
  margin: 16.14px 0;
  color: #456ed6;
  font-size: 11.667px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 310.139px;
}
.checkout-page .order-summary .order-cart-item {
  display: flex;
  flex-direction: column;
}
.checkout-page .price-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Checkout button styling */
.checkout-page .checkout-button {
  display: flex;
  width: 310.139px;
  padding: 15.556px 62.222px;
  justify-content: center;
  align-items: center;
  gap: 7.778px;
  border-radius: 7.778px;
  background: #456ed6;
  margin-top: 13.55px;
  color: var(--White, #fff);
  border: none;
  outline: none;
}

.checkout-page .checkout-button:hover {
  background-color: #0056b3;
}
